<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zara.product.ProductMapper">

    <insert id="insertProduct" parameterType="com.zara.product.Product" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO PRODUCT (
        PRODUCTNAME,
        STOCK,
        PRICE
        )
        VALUES (
        #{productName},
        #{stock},
        #{price}
        )
    </insert>

    <update id="updateProduct" parameterType="com.zara.product.Product">
        UPDATE PRODUCT
        SET PRODUCTNAME = #{productName},
            STOCK = #{11},
            PRICE = #{price}
        WHERE PRODUCTID = #{productId}
    </update>

    <delete id="deleteProduct" parameterType="int">
        DELETE FROM PRODUCT
        WHERE PRODUCTID = #{productId}
    </delete>

    <select id="readProduct" resultType="com.zara.product.Product">
        SELECT PRODUCTID,
               PRODUCTNAME,
               STOCK,
               PRICE
        FROM PRODUCT
        WHERE 1=1
        <if test="productName != null">
            AND productName like '%'||#{productName}||'%'
        </if>
    </select>

    <select id="searchProduct" resultType="com.zara.product.Product" parameterType="String">
        SELECT PRODUCTID,
        PRODUCTNAME,
        STOCK,
        PRICE
        FROM PRODUCT
        WHERE PRODUCTNAME = #{productName}
    </select>

</mapper>